@media(max-width:767px){

    .wellness-section .slick-slide, .body-checkup-section .slick-slide, .fever-section .slick-slide {
        margin-right: 0.5px;
      
    }
    .navbar-brand {
     max-width: 150px;
    }
    
}


@media screen and (max-width:991px) {
    .fixed-footer a.btn {
        min-width: 48%;
        font-size: 16px;
        padding: 15px 25px !important;
        background: #44c1be;
        color: #fff;
        font-weight: 600;
    }
    .fixed-footer {
        padding: 10px 0;
        background-color: #001d52 !important;
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        justify-content: space-around;
        z-index: 99;
    }
    #mainnav #menu {
        display: block;
    }

    #mainnav ul {
        display: none;
        background: #fff;
        padding: 0;
        text-align: left;
        /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
        border: 1px solid #Ccc;
        position: absolute;
        min-height: 100vh;
        z-index: 99;
        top: -56px;
        right: 0;
        width: 280px;
        box-shadow: 0 0 0 999em rgb(0 0 0 / 80%);
    }
    header.fixed .top-bar{ 
        display: none;
    }
    header.fixed  #mainnav ul {
        top: -15px;
    }
    #mainnav ul li {
        display: block;
    }
    #mainnav ul li a {
        display: block;
        padding: 15px;
    }
    .txt-clr {
        font-size: 18px;
        /* vertical-align: 2px; */
    }
    .header-cal {
        max-width: 20px ;
    }
    .wellness-title h3, .fever-section h3, .body-checkup-section h3, .why-choose .section-title h3 {
        color: #fff;
        display: inline-block;
        background: #033d71;
        padding: 5px 15px;
        font-weight: 400;
        position: relative;
        font-size: 16px;
    }
   
    
}
@media (min-width:768px) {
    .swiper.swiperPackages {
        margin-right: -25px;
    }
    
}
@media (min-width:992px) {
    #mainnav ul li a:hover {
        color: #fff;
        background: #023b73;
        border-radius:4px ;
    }
    .navbar-brand {
  
        max-width: 200px;
    }
    .pos-ab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}