


*, ::after, ::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 30px 0;
}
p, span, h2, h3, h4, h5, h6, li, strong{
    margin: 0;
}
.pos-relative{
    position: relative;
}
.bg-blue-primary{
    background:#023b73;
}
.header-cal {
    max-width: 35px ;
}

/* #NAVIGATION
================================================== */

#mainnav {

    color: #000;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: .05em;
}
#mainnav #menu {
    display: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 20px;
}


#mainnav ul {
    display: block;
    margin: 0;
    text-align: center;
}

#mainnav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
}

#mainnav ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: capitalize;
}

#mainnav ul li a:hover {
    color: #fff;
    background: #023b73;
}
header.fixed{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
    width: 100%;
}

.content {
	  padding: 1.5em;
}


/*banner*/

.section-banner{
    background-blend-mode: multiply;
    background-color: #d7eef1;
    background-size: cover;
}
#enquiry {
    padding: 30px;
    /* margin: 1em; */
    border-radius: 1em;
    text-align: center;
    background: white;
    color: rgba(0,0,0,0.75);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
#enquiry .form-group input,   #enquiry .form-group select {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #ECF0F1;
    transition: border ease 500ms;
    border-radius: 1ex;
    background: #ECF0F1;
    color: #181818;
    height: 40px;
}
#enquiry .form-group select {
    color: #777;
}
#enquiry .form-check-label{
    font-size: 10px;
    position: relative;
    padding-left: 10px;
    text-align: left;
    font-weight: 500;
}
        #enquiry .form-group select option:not(:first-of-type) {
     color: black;
}
#enquiry .form-group input:focus {
    outline: none;
    border: 2px solid #3498DB;
}
#enquiry .form-check-input{
    position: absolute;
    left: 0;
    width: 14px !important;
    top: -10px;
}

.first {
background-color: #00bcd4;
position: relative;
left: -50px;
color: #fff;
font-weight: bold;
}
.first {
width: 200px;
padding: 10px 0;
font-size: 20px;
}

.first::after {
content: "";
height: 100%;
width: 10px;
position: absolute;
right: -6px;
top: 0;
background-color: #196d78;
transform: skew(10deg);
}

.first::before,
h2::after,
h2::before {
content: "";
border: 10px solid;
border-color: #196d78 #196d78 transparent transparent;
position: absolute;
left: 0;
bottom: -20px;
}
.btn-1{
    
    background: #013975;
    height: 40px;
    transition: all 0.4s;

}
.btn-1:hover{
    outline: 1px solid #013975;
    color: #013975 !important;
    background: #fff;
    height: 40px;

}
.swiper-slide ul{
    
    list-style: none;
}

.section-banner .swiper-slide  img{
  max-height: 295px;
  margin: auto;
}
.swiper-slide ul li {
    position: relative;
    padding-left: 30px;
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 15px;
}
.swiper-slide ul li::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f058";
    position: absolute;
    left: 0;
    top: -4px;
    font-size: 22px;
    color: #023b73;
    font-weight: 500;
}

h2.text-style {
font-size: 20px;
font-weight: 700;
color: #023b73;
}
h2.text-style span{
color:#013975;
}



/* why-choose-us */



.section-title span {
    display: inline-block;
    color: #0f73bb;
    font-size: 18px;
    margin-bottom: 18px;
}

.section-title p {
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto;
}

.single-services {
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    text-align: center;
    padding: 15px;
    background: #fff;
    position: relative;
    border-radius: 30px 5px 5px 5px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    /* margin: unset; */
    justify-content: center;
}
.slide-content {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    min-height: 216px;
}
.single-services::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00c6ff;
    border-radius: 30px 5px 5px 5px;
    background: -webkit-linear-gradient(to  right,#11b3ee , #68d9d7 );
    background: linear-gradient(to  right,#11b3ee , #68d9d7 );
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


.single-services h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.single-services p{
    margin-top: 5px;
    margin-bottom: 0;
    color: #6f8ba4;
    font-size: 12px;
    line-height: 1.8;
}

.single-services:hover::before {
    opacity: 1;
    visibility: visible;
    border-radius: 0;
}

.single-services h3, .single-services img, .single-services p {
    position: relative;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.single-services:hover h3, .single-services:hover img, .single-services:hover p {
    color: #fff;
}
.footer-img{
   
  
}
.single-services:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    border-radius: 0;
}
.single-services img{
    max-width: 60px;
    margin: 0 auto;
}
/* =================
 footer-section 
 ================== */

.footer{
    background-color: #f4f5f7;
}

.footer-pills ul{
    padding: 0;
    list-style: none;
}

.footer-pills ul li {
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    color: #555f51;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 700;
    display: inline-flex;
    cursor: pointer;
}
.footer-pills ul li:hover {   
     background: linear-gradient(to  right,#11b3ee , #68d9d7 );
    color: white;}
.footer-copyright {
    background-color: #014382;
}


/* check-up section */
.check-up {
    background-blend-mode: multiply;
   
    background-size: cover;
}

.checkup-img{
    padding: 30px 14px;
}

.checkup-text{
    justify-content: center;
    line-height: 1.3;
}

.checkup-text h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 125%; 
    color: white;
}

.body-checkup-section .btn-2{
    color: #fff;
    background-color: #009eb5;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    
}

.fever-section .btn-2{
    color: #fff;
    background-color: #009eb5;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
}

.btn-section a{
    text-align: left;
}

.check-up .btn-2{
    color: #fff;
    background-color: #009eb5;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
}


/* =================
 wellness-package 
 =================== */



 .bg-clr-sec {
    background-color: #0f9fb4;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.underline{
    text-decoration: underline;
}
.wp-card-head-left p {
    color: white;
}


.wp-card-head-right {background: #023b73;position: relative;}

.wp-card-head-right img{position: relative;right: -16px;}
.wp-card-head-right::after{
    content: "";
    border: 10px solid;
    border-color: #196d78 #196d78 transparent transparent;
    position: absolute;
    right: -19px;
    top: 17px;
    rotate: 270deg;
}
.wellness-section .details-collapse{
    display: none;
    opacity: 0;
    transition: all 0.4s;
}
.swiper-slide.Dekhao  .details-collapse{
    display: block;
    opacity: 1;
}
.wellness-packages-body {
    background-color: #c4e8e7;
    padding: 10px 16px;
}
.wellness-packages-body-sub-head {
    border-radius: 6px 6px 0 0;
}
.wpbsh-brdr {
    border-right: 1px solid #fff;
}
.wellness-packages-list {
    max-height: 400px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    overflow: auto;
}
.wellness-packages-list .card {
    border-radius: 0;
    box-shadow: none;
    background-color: inherit;
    border: none;
    padding: 0 0px 0 10px;
}
.wellness-packages-list .card-header {
    background-color: inherit;
    padding: 10px 5px 0px 0;
}

.wellness-section .btn-2, .body-checkup-section .btn-2  , .fever-section .btn-2 {
    color: #033d71;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background: #fff;

    font-weight: 700;
    text-decoration: none;
}
.wellness-title,  .fever-title, .body-checkup-title, .section-title{
    margin-bottom: 20px;
    border-bottom: 4px solid #023b73;
}
.wellness-title h3, .fever-section h3, .body-checkup-section h3, .why-choose .section-title h3{
    color: #fff;
    display: inline-block;
    background: #033d71;
    padding: 5px 15px;;
    font-weight: 400;
    position: relative;

}
.wellness-section  .bg-clr-sec:not(.wellness-packages-body-sub-head),  .fever-section .bg-clr-sec:not(.wellness-packages-body-sub-head), .body-checkup-section .bg-clr-sec:not(.wellness-packages-body-sub-head){

  
    height: 150px;
}
.fever-section .bg-clr-sec:not(.wellness-packages-body-sub-head), .body-checkup-section .bg-clr-sec:not(.wellness-packages-body-sub-head){
    justify-content: flex-start;
}

.wellness-title h3::after, .fever-section h3::after, .body-checkup-section h3::after, .why-choose .section-title h3::after {
    content: '';
    position: absolute;
    background: #033d71;
    right: -25px;
    height: 100%;
    width: 40px;
    transform: skewX(30deg);

    top: 0;
    z-index: -1;
}
.details-collapse.dekhabe {
    display: block;
    opacity: 1;
}
.details-collapse.dekhabe .wellness-packages-body{
    padding: 2px;
    border-radius: 5px;
}
.txt-clr{
    color: #083659;
}

.f-13{
    font-size: 13px;
}

.f-17{
    font-size: 17px;
}

.f-18{
    font-size: 18px;
}

.f-11{
    font-size: 11px;
}




.wellness-accordion .card-header .card-link{
    outline: none;
    display: block;
    cursor: pointer;
    width: 100%;
}
.wellness-section .slick-slide, .body-checkup-section .slick-slide , .fever-section .slick-slide{

margin-right: 20px;
}
.wellness-section .nav-button.slick-arrow , .body-checkup-section .nav-button.slick-arrow , .fever-section  .nav-button.slick-arrow{
    background: white;
    width: fit-content;
    /* right: 52% !important; */
    padding: 10px 18px;
    position: absolute;
    /* bottom: -60px; */
    /* right: 15px; */
    z-index: 9;
    border: 1px solid #ccc;
    transform: translateY(-50% );
    top: 50%;
    border-radius: 100px;
}
.wp-card-head {
    /* min-height: 160px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wellness-section .slick-slide, .body-checkup-section .slick-slide ,  .fever-section  .slick-slide{

    border-radius: 10px;
    overflow: hidden;
         
}
.wellness-section .nav-button.slick-arrow.prev-btn  , .body-checkup-section .nav-button.slick-arrow.prev-btn  , .fever-section .nav-button.slick-arrow.prev-btn  {
    /* transform: translateX(0% ); */
}
.wellness-packages-list .card-body{
    padding: 0;
    display: flex;
}
.nav-button.slick-arrow {
    background: white;
    width: fit-content;
    padding: 10px 20px;
    position: absolute;
    /* top: 0; */
    /* right: 15px; */
    z-index: 9;
}
.nav-button.next-btn.slick-arrow {
     right: -40px; 
}
.nav-button.prev-btn.slick-arrow {
    left: -60px; 
}
.card-body table{
    width: 100%;
}

.card-body td:last-child {
    width: 20%;
    text-align: center;
}
.card-body td {
    color: #083659;
    font-size: 13px;
}

/*  */

.modal-body {

    padding: 0;
}

.modal-content {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.fixed-footer {
    display: none;
}